[submodule "libs/llvm-c"]
	path = libs/llvm-c
	url = https://github.com/ionlang/llvm-c
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
	ignore = dirty
