.vs/
Debug/
obj/
cmake
.DS_Store
Release/
out/
cmake-build-debug/
.idea/
CMakeCache.txt
CMakeFiles/
*.cmake
*.vcxproj*
*.sln
x64
ionir.dir
packages/
.gitpod.yml
Testing/
Makefile
test/IonIrTests
lib/
*.a
index
*.log
build/*
cmake-build-*/
!build/test.bat
!portfile.cmake
